@page "/"

@inject IJSRuntime JSRuntime;

<h1>Map Test</h1>

<div id="map" style="height:90vh; width:100%;">

</div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initialize", null);
        }
    }
}
